<!DOCTYPE html>
<html>
  <head>
    <title>Tambah Data Member</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.php">
          <img src="asset\img\logo.jpg" alt="" width="120" height="44" />
        </a>
        <a class="navbar-brand" href="index.php">List Member</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="negara.php"
                >List Negara</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-lg-6 m-auto">
      <form method="post" action="index.php">
        <br /><br />
        <div class="card">
          <div class="card-header bg-dark">
            <h1 class="text-white text-center">Daftar Member Baru</h1>
          </div>
          <br />
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter member name"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter member email"
              required
            />
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="tel"
              id="phone"
              name="phone"
              class="form-control"
              placeholder="Enter member phone number"
              required
            />
          </div>
          <div class="form-group mb-2 my-1">
            <label for="id_negara">Negara</label>
            <select
              class="custom-select form-control"
              id="id_negara"
              name="id_negara"
              required
            >
              <option selected>Pilih Negara</option>
              OPTION
            </select>
          </div>
          <button class="btn btn-dark" type="submit" name="add">Submit</button>

          <a
            class="btn btn-light my-1 text-dark"
            type="submit"
            name="cancel"
            href="<URL>"
          >
            Cancel
          </a>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
